/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

body {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 0, 18, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: white;
  box-sizing: border-box;
}

/* Styles spécifiques aux mobiles (max-width: 768px) */
@media screen and (max-width: 768px) {
  .contenair_video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  video {
    position: relative;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }

  .video_entrance {
    animation: video_Entrance 4s ease 0s 1 normal forwards;
  }

  @keyframes video_Entrance {
    0% {
      opacity: 0;
      filter: blur(2px);
    }

    80% {
      opacity: 1;
      filter: blur(0px);
    }

    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }

  #contenair_avatar {
    position: absolute;
    width: 100%;
    top: 10%;
  }

  /* Avatar header */
  #contenair_avatar img {
    width: 20%;
    border-radius: 100%;
    margin-left: 15px;
    position: relative;
  }

  .img_entrance {
    animation: img_Entrance 1s ease 2s 1 normal backwards;
  }

  @keyframes img_Entrance {
    0% {
      opacity: 0;
      transform: translateY(-250px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Value of the account */
  .contenair_valeur {
    position: absolute;
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .valeur_entrance {
    animation: valeur_Entrance 1s ease 2s 1 normal backwards;
  }

  @keyframes valeur_Entrance {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .name_solde_header {
    opacity: 0.6;
    font-size: 15px;
    font-weight: bold;
  }

  .valeur_header {
    font-size: 30px;
    padding-top: 10px;
  }

  /* End Value of the account */

  .name_compte h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    padding-right: 45%;
  }

  .name_compte .name_user {
    font-size: 25px;
    padding-right: 65px;
    
  }
  .name_entrance {
    animation: nameEntrance 2s ease 1s 1 normal backwards;
  }

  @keyframes nameEntrance {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .option_comptes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  .option_entrance {
    animation: optionEntrance 2s ease 1.5s 1 normal backwards;
  }

  @keyframes optionEntrance {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .option_comptes h2 {
    font-weight: bold;
    font-size: 20px;
    padding: 0 10;
  }

  /* Cards compte */

  .contenair_cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  .cards {
    margin: 5px;
    border-radius: 15px;
    background-color: #00172d;
    aspect-ratio: 16/9;
    width: 45%;
  }
  /* ANIMATION A FINIR*/
  .cards1 {
    animation: cardBounce 1.5s linear 2s 1 normal backwards;
  }

  @keyframes cardBounce {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-250px);
    }

    38% {
      animation-timing-function: ease-out;
      opacity: 0;
      transform: translateX(0);
    }

    55% {
      animation-timing-function: ease-in;
      transform: translateX(-68px);
    }

    72% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }

    81% {
      animation-timing-function: ease-in;
      transform: translateX(-28px);
    }

    90% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }

    95% {
      animation-timing-function: ease-in;
      transform: translateX(-8px);
    }

    100% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  }

  .cards2 {
    animation: cardBounce2 1.5s linear 2s 1 normal backwards;
  }

  @keyframes cardBounce2 {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(250px);
    }

    38% {
      animation-timing-function: ease-out;
      opacity: 0;
      transform: translateX(0);
    }

    55% {
      animation-timing-function: ease-in;
      transform: translateX(68px);
    }

    72% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }

    81% {
      animation-timing-function: ease-in;
      transform: translateX(32px);
    }

    90% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }

    95% {
      animation-timing-function: ease-in;
      transform: translateX(8px);
    }

    100% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  }

  /* ANIMATION A FINR */

  .device {
    padding-top: 10px;
  }

  .logo_device {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 75px;
  }

  .logo_device .fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background_device {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background: radial-gradient(circle, #000, #010012);
  }
  .credi_card {
    display: flex;
    justify-content: space-evenly;
    padding-right: 90px;
    padding-top: 8px;
  }

  .solde_card_credit {
    padding-top: 10px;
    margin-left: 15px;
  }

  /* End Cards compte */

  /* Liste des transctions */

  .contenair_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    padding-top: 15px;
  }

  .contenair_list h2 {
    font-size: 18px;
  }

  .contenair_avatar_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }

  .contenair_avatar_list img {
    width: 15%;
    border-radius: 100%;
    margin-left: 15px;
  }

  .name_list ul {
    padding-right: 85px;
    line-height: 25px;
  }

  .text_opacity {
    opacity: 0.4;
  }

  .money_list {
    padding-right: 15px;
    line-height: 25px;
  }

  .transcation {
    animation: listEntrance 1.5s ease-in-out 4s 1 normal backwards;
  }
  @keyframes listEntrance {
    0% {
      opacity: 0;
      filter: blur(5px);
      transform: translateY(-15px);
    }
    75% {
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* End Liste des transctions */
}
